body {
  background: no-repeat;
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/877/820/non_2x/pixel-art-landscape-of-pine-forest-in-the-mountains-with-lake-and-clouds-8-bit-game-background-vector.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button-choice {
  padding: 14px;
  border-radius: 30px;
  width: 75%;
}
.block-form {
  background-color: #3023278a;
  padding: 30px;
  width: 25vw;
  border-radius: 35px;
}
.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
  padding: 7px;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}

#input-name {
  display: none;
}

#input-code {
  display: none;
}
.inputs-home {
  width: 17vw;
  border-radius: 22px;
  padding: 10px;
}

#save-btn {
  display: none;
}

/* responsive */

@media (max-width: 700px) {
  .block-form {
    width: 55vw;
  }
  .inputs-home {
    width: 35vw;
  }
  .inputs {
    padding: 10px;
   
}
}
